/* 
 * 
 * $Footer
 *
**/

.siteFooter {
    position: relative;
    clear: both;
    display: block;
    width: 100%;
    padding: $ms4 0;
    background-color: #eaeaea;
    overflow: visible;
    z-index: 0;
}


.siteFooter__logo {
    display: block;
    margin:0 auto $ms0;
    width:200px;
    height:auto;

    @include breakpoint(bp3){
        width: 180px;
        margin:0;
    }
    @include breakpoint(bp4){
        width: 200px;
    }
    @include breakpoint(bp5){
        width: 250px;
    }
}


.siteFooter__blocks {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: $ms2;

    @include breakpoint(bp6){
        margin-top: $ms-2;
    }
}

.siteFooter__block {
    display: block;
    flex:1 1 auto;
    width: 100%;
    margin-bottom: $ms0;
    text-align: center;
    
    p {
        margin-bottom: $ms-8;
        color: #666;
        text-align: center;
    }

    &:last-of-type {
        margin-bottom: 0;
        border-right: 0;
    }

    @include breakpoint(bp2){
        width: 48%;
        margin-right: 2%;
        border-right: 1px solid $brand4;

        &:nth-of-type(2n) {
            margin-right: 0;
            border-right: 0;
        }        
        &:nth-of-type(3) {
            margin-bottom: 0;
        }
    }
    @include breakpoint(bp3){
        text-align: left;
        
        p { 
            text-align: left;
        }        
    }
    @include breakpoint(bp6){
        flex:auto;
        width: auto;
        margin-right: 2%;
        margin-bottom: 0;
        border-right: 1px solid $brand4;

        &:nth-of-type(2n) {
            margin-right: 2%;
            border-right: 1px solid $brand4;
        }       
        &:last-of-type {
            border-right: 0;
        }    
    }
}


.siteFooter__link {
    font-size:$ms0 - .1em;
    color:$brand3;
    font-weight: $fw-bold;
    line-height: $ms0;

    @include breakpoint(bp6){
        @include type-small;
    }
    @media all and (min-width: 1500px){
        font-size:$ms-1 + .0825em;
    }
}
.siteFooter__link--bordered {
    padding-right: $ms-2;
    margin-right: $ms-2;
    border-right: 1px solid $brand4;
}