/* 
 * 
 * $Header
 *
**/

.siteHeader {
    position: fixed;
    top:0;
    left:0;
    display: block;
    width:100%;
    padding:$ms0 0;
    background-color: $brand3;
    z-index:3;

    .brand {
        float: left;
        width: 100%;
        max-width: 220px;
        margin: 0 auto;

        @include breakpoint(bp1){
            max-width: 250px;
        }
        @include breakpoint(bp4){
            max-width: 280px;
            margin-bottom: 0;
        }
    }
}

.hero .siteHeader {
    .brand {
        margin-bottom: $ms2;
    }
}