/* 
 * 
 * $Navigation
 *
 * Elements styled for main nav section 
 * See nav-primary and nav-secondary 
 * for specific menu styles
 *
**/

/*Colours*/
$nav-button: $brand1;

/* Mobile menu button - with transitions */
$button-size: 2.235em;
$transition: .3s;

.nav-cta {
    position: relative;
    float:right;
    margin-right: $ms-2;
    padding:$ms-6 $ms0; 
    margin-bottom:0;
    background-color:transparent;
    border:0;
    font-weight:$fw-regular;
    text-align:center;
    text-decoration:none;
    @include type-large;
    color:$brand1;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    outline:none;
    cursor:pointer;

    &:hover {
        text-decoration:none;
    }

    @include breakpoint(bp4) {
        display:none;
    }
}

.nav-cta__text { display: none; }
.hero .nav-cta {
    width:100%;
    margin: 0 auto;
    background-color: $brand4;

    .nav-cta__text { display: inline-block; }
}
    

.lines-button {
  position:absolute;
  top:3px;
  left:auto;
  padding:.1em $ms-4 10px;
  cursor: pointer;
  user-select: none;
  @include transition();
  font-size:15px;
  border:0;

  &:hover {
    opacity: 1;
  }
 
  &:active {
    transition: 0;
    background: rgba(0,0,0,.1);
  }

  @include breakpoint(bp1) {
      top:5px;
  }
}

/*Mixin*/
@mixin line {
  display:inline-block;
  width:$button-size;
  height:3px;
  background:$brand1;
  transition:$transition;
  @include border-radius($curve*2);
}

.lines {
  /*create middle line*/
  @include line;
  position: relative; 
 
  /*create the upper and lower lines 
  as pseudo-elements of the middle line*/
  &:before, &:after {
    @include line;
    position: absolute;
    left:0;
    content: '';
    transform-origin: 3px center;
  }
  &:before { top:9px; }
  &:after { top:-9px; }
}

.active .lines {
    /*hide the middle line*/
    background: transparent;
 
    /*overlay the lines by setting both their top values to 0*/
    &:before, &:after{
      transform-origin: 50% 50%;
      top:0;
      width: $button-size;
    }
 
    /*rotate the lines to form the x shape*/
    &:before{
      transform: rotate3d(0,0,1,45deg); 
      -ms-transform:rotate3d(0,0,1,45deg);
      -webkit-transform:rotate3d(0,0,1,45deg);
    }
    &:after{
      transform: rotate3d(0,0,1,-45deg); 
      -ms-transform:rotate3d(0,0,1,-45deg);
      -webkit-transform:rotate3d(0,0,1,-45deg);
    }
}

@include breakpoint(bp1) {

  /*Show/Hide items on desktop*/
  .nav-primary-button { display: none; }
  
}



/*When Javascript enabled*/
.mainNavigation {
    position: absolute;
    top:$ms0;
    left:50%;
    transform: translateX(-50%);
    display: block;
    width:95%;
    margin:0 auto;
    z-index:2;

  @include breakpoint(bp4) {
    position: relative;
    top:auto;
    right:auto;      
    width:100%;
    max-width: none;
  }
}
.hero .mainNavigation {
    position: relative;
    top:auto;
    left:auto;
    width:100%;
    max-width: 400px;
    transform: none;

    @include breakpoint(bp4) {
        max-width: none;    
    }
}