/* 
 * 
 * $PrimaryNav
 * 
**/

.siteNav {
    position: absolute; 
    display: block;
    top:57px;
    left:0;
    width:100%;
    margin:0;
    padding:0;
    overflow: hidden;
    @include transition();

  @include breakpoint(bp1) {
    top:62px;
  }
  @include breakpoint(bp3) {
    top:64px;
  }
  @include breakpoint(bp4) {
        position:relative;
        top:auto;
        left:auto;
        padding:0;
    }

  ul {
      display: flex;
      flex-flow: row wrap;
    float: left;
      width: 100%;
      margin: 0;
      padding:$ms-2 $ms-4 $ms0;
      background-color: $brand4;
      @include transition(.5s);
      @include border-radius(0 0 $curve $curve);
      overflow:hidden;
      z-index:2;   

        @include breakpoint(bp4) {
            padding:0;
            background-color: $brand1;
            @include border-radius($curve);
        }
    }
}

.hero .siteNav { top:39px; }


.siteNav .menuItem {
  position:relative;
  float:left;
  width:100%;
  padding:0;
  margin:0;
  list-style:none;
  text-align:center;
  border-bottom: 1px solid $brand3;

  @include breakpoint(bp4) {
      flex:1 1 auto;
      width:auto;
      border-right: 2px solid $brand3;
      border-bottom: 0;

      &:last-child { border-right: 0; }
  }
}


.siteNav .menuItem a {
  float:left;
  width:100%;
  padding:$ms-6 $ms-4;
  margin:0;
  @include font-fancy;
  @include type-small;
  color:$brand3;
  text-align:center;
  text-decoration:none;
  line-height:$ms0;
  font-weight:$fw-regular;

  &.current {
        color:$brand1;

        @include breakpoint(bp4) {
            color:$brand3;
            background-color: $brand4;
        }
    }  

  @include breakpoint(bp4) {
        padding:$ms-3 $ms-4;
        @include type-xsmall;

      &:hover {
        color:$brand3;
        background-color:$brand4;
        text-decoration:none;
      }
  }
  @include breakpoint(bp5) {
    padding:$ms-3 $ms2;
    @include type-small;
  }
}

.hero .siteNav {
    @include breakpoint(bp4) {
        padding:$ms-3 $ms4;
        @include type-medium;
    }
}