/* 
 * 
 * $Section
 *
**/

.section {
	float:left;
    width:100%;
    padding:$ms2 0;

    @include breakpoint(bp1){
        padding-top: $ms5;
        padding-bottom: $ms5;
    }
}

.sectionWhite { background-color: $brand1; }
.sectionBlue { background-color: $brand3; }

.section--close-btm { padding-bottom: 0; }


.section__title {
    position: relative;
    display: flex;
    width: 100%;
    @include type-xlarge;

    span {
        position: relative;
        display: block;
        padding:$ms-7 $ms-5 $ms-6 0;
        margin-bottom: 0;
        color:$brand6;
        text-align: left;
        line-height: $ms0;
        background-color: $brand1;
        z-index: 1;
    }

    &:before {
        position: absolute;
        display: block;
        content:'';
        top:53%;
        left:50%;
        transform: translate(-50%,-50%);
        width: 100%;
        height:2px;
        background-color: $brand4;
        z-index: 0;
    }    
}