/* 
 * 
 * $Base - Wrappers, Containers
 *
**/

/* ==============
 * Containers
 * =============*/

 html,
 body {
     height: 100%;
 }

/* 
 * Apply a natural box layout model to all elements, 
 * but allowing components to change 
 */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	background-color:#eaeaea;
}


.page {
    display: block;
    width: 100%;
    padding-top: 76px;

    @include breakpoint(bp2){
        padding-top: 82px;
    }
    @include breakpoint(bp4){
        padding-top: 90px;
    }
}


.pageTitleContainer {
    float: left;
    width: 100%;
    background-color: $brand1;
}

.pageTitle {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;

    h1 {
        position: relative;
        display: inline-block;
        padding:$ms-7 $ms-5 $ms-6;
        margin-bottom: 0;
        @include type-xlarge;
        color:$brand6;
        text-align: center;
        line-height: $ms0;
        background-color: $brand1;
        z-index: 1;
    }

    &:before {
        position: absolute;
        display: block;
        content:'';
        top:53%;
        left:50%;
        transform: translate(-50%,-50%);
        width: 100%;
        height:2px;
        background-color: $brand4;
        z-index: 0;
    }
}


.hidden-desktop { display:block; }
.hidden-mobile { display:none; }

@include breakpoint(bp2){
	.hidden-desktop { display:none; }
	.hidden-mobile { display:block; }
}


// Media
.iframe-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
    
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
    }
}