/* 
 * 
 * $Colours
 *
**/

// White
$white: #fff;

// Black
$black: #111;

// Blues
$sky: #008AD6;
$sea: #006DB6;
$royal-blue: #154D91;

// Golds
$gold: #F4A800;

// Reds
$error: #bd0a0a;

/*
 * Brand Colours
*/

$brand1: $white;
$brand2: $black;
$brand3: $royal-blue;
$brand4: $gold;
$brand5: $sky;
$brand6: $sea;

