/* 
 * 
 * $Buttons
 *
**/

.button {
    position: relative;
    clear:both;
    float:left;
    width:100%;
    max-width: 350px;
    padding:$ms1 $ms4 $ms1 $ms0;
    margin-bottom:0;
    @include font-body;
    font-size: $ms1 - .1em;
    color:$brand1;
    text-align: left;
    font-weight:$fw-regular;
    line-height:1;
    text-decoration:none;
    outline:0;
    border:0;
    background-color: $brand5;
    cursor:pointer;
    @include border-radius($curve);
    @include transition();

    @include breakpoint(bp3){
        &:hover {
            background-color: darken($brand5, 5%);
            text-decoration:none;
            @include transition();

            .cog {
                animation: cogSpin 8s infinite linear forwards;   
                transform-origin: 50% 50%;
            }
        }
    }

    &:active,
    &:focus {
      background-image: none;
      outline: 0;
      -webkit-box-shadow: none;
              box-shadow: none;
    } 

    svg {
        position: absolute;
        top:50%;
        right: $ms0;
        transform: translateY(-50%);
    }
}
.button--gold { 
    background-color: $brand4; 

    @include breakpoint(bp3){
        &:hover {
            background-color: darken($brand4, 2%);
        }
    }
}