/*
 *
 * $Forms - Base form styles
 *
**/

$form-input-bg: #ddd;
$form-input-text: $brand2;

form {
  float: left;
  width: 100%;
}

label {
  display: block;
  width: 100%;
  margin-bottom: $ms-5;
  @include font-body;
  @include type-medium;
  color: $brand5;

  a {
    color: $brand5;
    text-decoration: underline;
  }
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="tel"],
input[type="password"],
textarea {
  float: left;
  width: 100%;
  padding: $ms-2;
  margin-bottom: 0;
  @include font-body;
  @include type-medium;
  line-height: 1;
  color: $form-input-text;
  background-color: $form-input-bg;
  border: 1px solid transparent;
  -webkit-input-appearance: none;
  @include border-radius($curve/2);
  @include transition();
  outline: none;

  &::-webkit-input-placeholder {
    color: lighten($brand2, 50%);
  }
  &:-ms-input-placeholder {
    color: lighten($brand2, 50%);
  }
  &::-moz-placeholder {
    color: lighten($brand2, 50%);
  }
  &:-moz-placeholder {
    color: lighten($brand2, 50%);
  }

  // Reset Webkit autofill colour
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    // -webkit-box-shadow: 0 0 0 30px #ccc inset !important;
  }

  &:focus {
    outline: none;
    border: 1px solid $brand4;
    @include transition();
  }

  &.form__text--narrow {
    width: 33.333%;
    @include breakpoint(bp2) {
      width: 15%;
    }
  }
}

textarea {
  padding: $ms-2;
  height: 260px;
}

.form__group {
  clear: both;
  position: relative;
  float: left;
  width: 100%;
  margin-bottom: $ms0;

  span {
    @include type-xsmall;
    color: $brand2;
  }

  p {
    margin-bottom: $ms-3;
  }

  @include breakpoint(bp1) {
    margin-bottom: $ms1;
  }
}
.form__group--inline {
  @include breakpoint(bp1) {
    clear: none;
    float: left;
  }
}
.form__group--title {
  @include breakpoint(bp1) {
    width: 15%;
  }
}
.form__group--full-name {
  @include breakpoint(bp1) {
    width: 82%;
    margin-left: 3%;
  }
}
.form__group--address {
  @include breakpoint(bp2) {
    width: 67%;
  }
}
.form__group--postcode {
  max-width: 340px;
  @include breakpoint(bp2) {
    width: 30%;
    margin-left: 3%;
  }
}
.form__group--telephone {
  @include breakpoint(bp1) {
    width: 50%;
  }
}
.form__group--email {
  @include breakpoint(bp1) {
    width: 47%;
    margin-left: 3%;
  }
}

.form__label--checkbox {
  @include type-small;
  color: $brand2;
}

// Character counter
.form__character-count {
  float: right;
}

// Select
.form__select {
  display: block;
  width: 100%;
  max-width: 340px;
  height: 55px;
  padding: 0 $ms0;
  @include font-body;
  @include type-medium;
  background-color: $form-input-bg;
  border: 0;
  outline: none;
  -webkit-input-appearance: none;
  @include border-radius($curve/2);

  @include breakpoint(bp1) {
    height: 56px;
  }
  @include breakpoint(bp2) {
    height: 62px;
  }
}
.form__select--title {
  max-width: 140px;
}

// Custom Radio
.form__radio {
  display: inline-block;
  margin: $ms-8 $ms1 $ms-6 0;

  // This is for Netlify form label on radio
  span {
    position: absolute;
    left: -99999px;
  }

  input[type="radio"] {
    position: absolute;
    opacity: 0;

    + label {
      margin-bottom: 0;
      color: $brand2;
      @include type-small;
      line-height: $ms0 + 0.175em;
      text-transform: none;
      cursor: pointer;

      &:before {
        content: "";
        position: relative;
        display: inline-block;
        top: 0px;
        width: 1.4em;
        height: 1.4em;
        margin-right: $ms-4;
        vertical-align: top;
        text-align: center;
        background: #ddd;
        border: 1px solid lighten($brand2, 50%);
        @include border-radius(100%);
      }
    }
    &:checked {
      + label {
        &:before {
          background-color: $brand2;
          box-shadow: inset 0 0 0 5px #ddd;

          @include breakpoint(bp3) {
            box-shadow: inset 0 0 0 6px #ddd;
          }
        }
      }
    }
    &:focus {
      + label {
        &:before {
          outline: none;
        }
      }
    }
    &:disabled {
      + label {
        &:before {
          box-shadow: inset 0 0 0 6px #aaa;
          background: transparent;
        }
      }
    }
    + label {
      &:empty {
        &:before {
          margin-right: 0;
        }
      }
    }
  }
}

// Checkbox
.form__checkbox {
  position: absolute; // take it out of document flow
  opacity: 0; // hide it

  & + label {
    position: relative;
    cursor: pointer;
    padding: 0;
    line-height: $ms0 + 0.125em;
  }

  // Box.
  & + label:before {
    content: "";
    margin-right: 10px;
    display: inline-block;
    float: left;
    vertical-align: text-top;
    width: 26px;
    height: 26px;
    background: #ddd;
    border: 0;
    @include border-radius($curve/2);
  }

  // Disabled state label.
  &:disabled + label {
    color: #b8b8b8;
    cursor: auto;
  }

  // Checkmark. Could be replaced with an image
  &:checked + label:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 26px;
    height: 26px;
    background-image: url(#{$base-image-url}/tick.svg);
    background-position: center;
    background-repeat: no-repeat;
  }
}

.form__error {
  display: block;
  width: 100%;
  margin-bottom: 0;
  color: $error;
}

// Datepicker
.MuiPickersToolbar-toolbar,
.MuiPickersDay-daySelected {
  background-color: $brand3 !important;
}
