/*
 * $Tables
 *
 */

table {
  display: table;
  width:100%;
  margin:0 0 $ms2;
  border-collapse:collapse;

  tr {
    border-bottom:1px solid $brand1;

    &:last-of-type { border-bottom:0; }
  }

  th, td {
    padding:$ms-4 $ms-3;
    vertical-align: middle;
    text-align:left;
  }  

  th { 
    display:table-cell;
    @include font-body;
    text-transform: uppercase;
    letter-spacing: .0325em;
  }

  td {
    display:table-cell;
    @include font-body;
    text-align: center;
  }
}