/*
 *
 * $Typography - Base font styles
 *
**/

/*Check _base.scss for base font sizes and modular scale variables*/

/*Base font styles*/
$base-line-height: $ms1 - .1em;
$base-font-weight: $fw-regular;
$base-font-color: $brand2;
$base-font-alignment: left;

/* Font Faces */
@mixin font-body { font-family: 'Barlow', Arial, sans-serif; }
@mixin font-fancy { font-family: 'Barlow', Arial, sans-serif; }

/* Common Text Sizes */
@mixin type-xsmall { font-size:$ms-2 }
@mixin type-small { font-size:$ms-1; }
@mixin type-medium { font-size:$ms0; }
@mixin type-large { font-size:$ms1; }
@mixin type-xlarge { font-size:$ms2; }
@mixin type-giga { font-size:$ms3; }
@mixin type-mega { font-size:$ms4; }


/* ==================
 * Apply text styles
 * ==================*/

body {
    @include font-body;
    font-size:$base-font-size--narrow * 1px;
    line-height:$base-line-height;
    font-weight:$base-font-weight;
    color:$base-font-color;
    word-wrap:break-word;
	font-kerning: normal;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    @include breakpoint(bp3) {
        font-size:$base-font-size--wide * 1px; 
    }
}

p, a {
    margin:0 0 $ms1;
    padding:0;
    text-align:$base-font-alignment;
    font-weight:$fw-regular;
    letter-spacing:0;
}

a {
    color:$base-font-color;
    font-weight:$fw-regular;
    text-decoration:none;
}

sub,
sup { 
    @include type-xsmall; 
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding:0;
    margin:0 0 $ms-6;
    @include font-body;
    line-height:$base-line-height;
    font-weight:$fw-regular;
}

h1 { @include type-mega; line-height: $ms-1; }
h2 { @include type-giga; line-height: $ms-1; }
h3 { @include type-xlarge; }
h4 { @include type-large; }
h5 { @include type-small; }
h6 { @include type-xsmall; }

p + h1 {
    margin-top:$ms-3;
}
p + h2,
p + h3,
p + h4,
p + h5,
p + h6 {
    margin-top:$ms1;
}

ul,
ol { 
    padding:0;
    margin:0 0 $ms1 $ms0;
}
li { 
    padding:0;
    margin:0 0 $ms-7;
    line-height:$ms1;
}

strong {
    font-weight:$fw-bold;
}

sub,
sup {
    font-size:.55em;
}
sup {
    position: relative;
    top:-8px;
    vertical-align: super;
}

abbr[title] { text-decoration: none; }

::-moz-selection { 
    color: $brand1;
    background:darken($brand3,5%);
}
::selection {
    color: $brand1;
    background:darken($brand3,5%);
}

// Divider
hr {
    clear:both;
    display:block;
    height:1px;
    width: 100%;
    margin:$ms-2 0 $ms0;
    border-top:1px solid $brand1;
    background-color:$brand1;
}


fieldset {
    margin:0;
    border: 0;
    padding:0;

    legend {
        margin-bottom: $ms-2;
        @include type-medium;
        color: $brand5;
    }
}