/* 
 * 
 * $Blocks
 *
**/

.blocks {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  padding: 0;
  margin: 0 0 $ms2;
  list-style: none;
  z-index: 1;

  @include breakpoint(bp2) {
    margin-bottom: 0;
  }
}

.block {
  display: block;
  width: 100%;
  margin-bottom: $ms0;
  @include border-radius($curve);
  overflow: hidden;

  @include breakpoint(bp2) {
    max-width: 420px;
  }
}
.block--contact {
  padding: $ms2;
  background-color: #eaeaea;

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  li {
    display: block;
    clear: both;
    padding: $ms-4 0;
    margin-bottom: 0;
    @include type-medium;
    color: $brand6;
    border-bottom: 2px solid $brand4;

    &:first-of-type {
      padding-top: 0;
    }
  }

  a {
    color: $brand6;
    font-weight: $fw-bold;
  }

  @include breakpoint(bp2) {
    max-width: none;
    padding: $ms4;
    margin-bottom: 0;
  }
}

.features {
  position: relative;
  display: block;
  width: 100%;

  &:after {
    position: absolute;
    bottom: 0px;
    left: 0;
    display: block;
    content: "";
    width: 100%;
    height: 80px;
    background-color: $brand4;
  }

  .block {
    max-width: 460px;

    @include breakpoint(bp2) {
      max-width: 340px;
    }
    @include breakpoint(bp4) {
      width: 33.333%;
      max-width: none;
      @include border-radius(0);

      &:first-of-type {
        @include border-radius($curve 0 0 $curve);
      }
      &:last-of-type {
        @include border-radius(0 $curve $curve 0);
      }
    }
  }
}

.block__img-link {
  position: relative;
  display: none;
  width: 100%;
  height: 280px;
  margin-bottom: 0;

  @include breakpoint(bp2) {
    display: block;
  }
}

.block__img {
  display: none !important;
  width: 100%;
  height: 300px;
  margin-bottom: 0;
  background-color: #aaa;

  @include breakpoint(bp2) {
    display: block !important;
  }

  picture {
    display: block;
    margin-bottom: 0;
  }

  img {
    margin: 0 auto;
  }
}
.block__img--properties {
  height: 280px;
}

.block__title {
  @include type-large;
  color: $brand1;
  line-height: $ms0 + 0.05em;

  a {
    color: $brand1;

    @include breakpoint(bp3) {
      &:hover {
        text-decoration: none;
      }
    }
  }

  &:after {
    clear: both;
    display: block;
    width: 40px;
    height: 1px;
    margin-top: $ms-4;
    margin-bottom: $ms-4;
    content: "";
    background-color: $brand4;
  }
}

.block__content {
  position: relative;
  display: block;
  width: 100%;
  min-height: 200px;
  padding: $ms2 $ms6 $ms2 $ms2;
  background-color: $brand6;

  p {
    display: block;
    max-width: 380px;
    color: $brand1;
    text-align: left;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  @include breakpoint(bp1) {
    min-height: 220px;
  }
  @include breakpoint(bp2) {
    min-height: 255px;
    padding-right: $ms7;
  }
  @include breakpoint(bp3) {
    min-height: 285px;
    padding-right: $ms8;
  }
  @include breakpoint(bp4) {
    min-height: 360px;
  }
  @include breakpoint(bp5) {
    min-height: 285px;
  }
  @include breakpoint(bp6) {
    min-height: 258px;
  }
}
.block__content2 {
  background-color: $brand5;
}
.block__content--properties {
  min-height: 180px;

  @include breakpoint(bp1) {
    min-height: 200px;
  }
}

.block__link {
  position: absolute;
  top: $ms2;
  right: $ms3;
  height: 100%;

  &:after {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    content: "";
    width: 1px;
    height: 75%;
    background-color: $brand1;
  }

  @include breakpoint(bp3) {
    &:hover {
      .cog {
        animation: cogSpin 8s infinite linear forwards;
        transform-origin: 50% 50%;
      }
    }
  }
}

.block__linkCog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -87%);
  padding: $ms-6;
  background-color: $brand6;
  z-index: 1;
  cursor: pointer;

  .linkCog {
    transform-origin: 50% 50%;
  }
}
.block__linkCog--light-blue {
  background-color: $brand5;
}

// Animation Keyframes for link cog
@include keyframes(cogSpin) {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
