/* 
 * 
 * $DocumentFolders
 *
**/

.document-folders {
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  margin:$ms2 0 0;

  li {
    display: inline-block;
    width: 100%;
    max-width: 300px;
    margin:0 auto $ms0;

    @include breakpoint(bp1){
      width: 48%;
      max-width: none;
    }
    @include breakpoint(bp2){
      width: 31%;
      margin-left: 1%;
      margin-right: 1%;
    }
  }
}

.document-folder {
  display: block;
  width: 100%;
  padding:$ms-2 $ms-4;
  @include type-medium;
  color:$brand1;
  background-color: $brand3;
  border: 0;
  @include border-radius($curve);
  cursor: pointer;
  appearance: none;

  @include breakpoint(bp2){
    padding: $ms0 $ms-4;

    &:hover {
      background-color: $brand4;
    }
  }
}

.document-folder__back {
  @include type-medium;
  color:$brand3;
  font-weight: $fw-bold;
  background-color:transparent;
  border: 0;
  appearance: none;
  cursor: pointer;

  @include breakpoint(bp2){
    &:hover {
      color: $brand4;
      text-decoration: underline;
    }
  }  
}