/* 
 * 
 * $Downloads
 *
**/

.downloads {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding:0;
    margin: $ms4 0 0;
    list-style: none;
    
    @include breakpoint(bp5) {
        margin-top:$ms4; 
    }
    @include breakpoint(bp7) {
        justify-content: space-evenly;
    }
}
.downloads--documents {
  margin-top: 0;
}


.download {
    position: relative;
    display: block;
    width: 100%;
    align-items: stretch;
    background-color: $brand5;
    padding:$ms2 $ms5 $ms2 $ms2;
    margin:0 auto $ms2;
    cursor: pointer;
    @include border-radius($curve);
    @include transition();

    @include breakpoint(bp1) {
        width: 49%;
    }
    @include breakpoint(bp2) {    
        margin:0 1% $ms2;
    
        &:hover {
            background-color: $brand3;
            @include transition();

            .cog {
                animation: cogSpin 8s infinite linear forwards;   
                transform-origin: 50% 50%;
            }          
        }
    }
    @include breakpoint(bp4) {
        width: 31%;
    }
    @include breakpoint(bp7) {
        width: 23%;
    }
}


.download__cog {
    position: absolute;
    top:50%;
    right:$ms-1;
    transform: translateY(-50%);
    display: block;
    height: auto;
    transform-origin: 50% 50%;
}


.download__icon {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    display: block;
    width: 40px;
    height: auto;
}


.download__title {
    position: relative;
    display: block;
    margin-bottom: 0;
    @include type-medium;
    z-index: 1;
    
    a {
        display: block;
        margin-bottom: 0;
        color:$brand1;
        line-height: $ms0 +.1em;

        &:hover {
            text-decoration: none;
        }
    }
}