/* 
 * 
 * $Entry
 *
**/

.entry {
    display: block;
    width: 100%;
    padding-top: $ms3;

    @include breakpoint(bp2){
        padding-top: $ms0;
    }

    h3 {
        margin-bottom: $ms-2;
        font-size: $ms0 + .2em;
    }
    h4 {
        margin-bottom: $ms-2;
        font-size: $ms-1 + .1em;
        font-weight: $fw-bold;
    }

    p {
        margin-bottom: $ms-2;

        a {
            color:$brand6;
        }
    }

    ul li,
    :not .wp-block-gallery {
        position: relative;
        list-style: none;

        &:before {
            position: absolute;
            top:9px;
            left:-19px;
            display: inline-block;
            width:11px;
            height:11px;
            content:'';
            background-color: $brand4;
            @include border-radius(100%);
        }
    }
}
.entry--space-top {
    margin-top: $ms0;

    @include breakpoint(bp2){
        margin-top: $ms6;
    }
}


.map {
    float: left;
    width: 100%;
    overflow: hidden;
    @include border-radius($curve);

    iframe {
        display: block;
        width: 100%;
        margin-bottom: 0;
    }

    @include breakpoint(bp2){
        margin-bottom: 0;
    }
}

.wp-block-gallery {
  display: block;
  margin:$ms1 0 $ms0; 

  li {
    margin-bottom: $ms-2;
    list-style: none;

    &:last-of-type { margin-bottom: 0; }

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
}