/* 
 * 
 * $Gallery
 *
**/

.gallery {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
  margin:$ms1 0 $ms0; 
}

.gallery__item {
  width: 100%;
  margin-bottom: $ms-2;
  list-style: none;

  @include breakpoint(bp2){
    width: 49%;
    margin-bottom: $ms1;
  }

  img {
    display: block;
    width: 100%;
    height: auto;
  }
}