/*
 * Housing Application Form
 */

.form--ha__row {
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  margin-bottom: $ms2;

  .form__label {
    span {
      display: none;
    }
  }
}
.form--ha__row--tight {
  margin-bottom: $ms-2;
}

// Content toggle section
.form--ha__section-title {
  cursor: pointer;
}

.form--ha__section-content {
  display: block;
  overflow: hidden;
}

.form--ha__sub-heading {
  margin-bottom: $ms0;
  width: 100%;
  color: $brand3;
}

// Label
.form--ha__label--space {
  margin-bottom: $ms0;
}

// Divider
.form--ha__divider {
  display: block;
  width: 100%;
  margin-bottom: $ms3;
  border: 1px dashed $brand3;
}

// Fields
.form--ha__group--title {
  @include breakpoint(bp1) {
    width: 15%;
  }
}

.form--ha__group--first-name {
  @include breakpoint(bp1) {
    width: 39.5%;
    margin-left: 3%;
  }
}
.form--ha__group--surname {
  @include breakpoint(bp1) {
    width: 39.5%;
    margin-left: 3%;
  }
}

.form--ha__group--postcode {
  @include breakpoint(bp1) {
    width: 33.333%;
  }
}

.form--ha__group--dob {
  input {
    @include type-medium;
  }
  @include breakpoint(bp1) {
    width: 25%;
  }
}

.form--ha__group--relationship,
.form--ha__group--relationship2,
.form--ha__group--ni-number {
  @include breakpoint(bp1) {
    width: 34.5%;
    margin-left: 3%;
  }
}

.form--ha__group--relationship2 {
  @include breakpoint(bp1) {
    width: 48.5%;
  }
}

.form--ha__group--telephone,
.form--ha__group--email {
  @include breakpoint(bp1) {
    width: 48.5%;
  }
}

.form--ha__group--mobile,
.form--ha__group--email-confirm {
  @include breakpoint(bp1) {
    width: 48.5%;
    margin-left: 3%;
  }
}

.form--ha__group--nomination {
  @include breakpoint(bp1) {
    width: 66.666%;
  }
}

// Radio button cols
.form--ha__radio-cols {
  display: flex;
  flex-flow: row wrap;
}

.form--ha__radio-col {
  width: 100%;
  @include breakpoint(bp1) {
    width: 50%;
  }
  @include breakpoint(bp2) {
    width: 38%;
  }
}

.form--ha__radio {
  width: 100%;
  margin-left: 0;
  margin-right: 0;

  label {
    display: flex;
    align-items: center;
    @include type-small;
    color: $brand2;
    cursor: pointer;
  }

  input {
    width: 20px;
    height: 20px;
    margin-right: $ms-4;
  }
}

.form--ha__radio--inline {
  display: inline-block;
  width: auto;
  margin-right: $ms0;
}

// Text
.form--ha__group--inputs-inline {
  display: flex;
  flex-flow: row wrap;
}

.form--ha__text--years,
.form--ha__text--months {
  width: 33.333%;

  @include breakpoint(bp2) {
    width: 15%;
  }
}
.form--ha__text--months {
  margin-left: $ms2;
}

.form--ha__text--scheme-area,
.form--ha__text--scheme-name {
  width: 100%;
  margin-bottom: $ms-2;
  @include breakpoint(bp1) {
    width: 48.5%;
    margin-bottom: 0;
  }
}
.form--ha__text--scheme-name {
  @include breakpoint(bp1) {
    margin-left: 3%;
  }
}

// Input divider
.form--ha__input-divider {
  display: block;
  width: 100%;
  margin-top: $ms0;
  margin-bottom: $ms-2;
  border: 1px solid $brand3;
  opacity: 0.1;
}

// Checkbox
.form--ha__checkbox-container {
  display: block;
}

.form--ha__checkbox-container--inline {
  display: inline-block;
  width: auto;
  margin-right: $ms2;
}

.form--ha__label--checkbox {
  display: flex;
  align-items: center;
  @include type-small;
  color: $brand2;

  input {
    width: 18px;
    height: 18px;
    margin-right: $ms-4;
  }
}

// Signature
.form--ha__group--signature {
  @include breakpoint(bp2) {
    width: 48.5%;
    &:last-of-type {
      margin-left: 3%;
    }
  }
}

// Errors
.form--ha__errors {
  display: block;
  padding: $ms0;
  margin-bottom: $ms2;
  color: $brand1;
  background-color: $error;
  @include border-radius($curve/2);
}
