/* 
 * 
 * $Hero
 *
**/

.hero {
  position: relative;
  display: block;
  width: 100%;
  height: 100vh;
  min-height: 400px;
  background-color: $brand3;
  opacity: 1;

  .brand {
    display: block;
    width: 100%;
    max-width: 840px;
    margin: 0 auto $ms2;
    text-align: center;

    @include breakpoint(bp2) {
      margin-bottom: $ms7;
    }
  }

  @include breakpoint(bp2) {
    min-height: 740px;
  }
}

.heroOverlay {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background-color: $brand3;
  opacity: 1;
  z-index: 5;
  @include transition(2s)
}

.heroInner {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: 1280px;
  transform: translate(-50%, -50%);
  padding: $ms0;
  text-align: center;
}

.heroSlogan {
  position: relative;
  display: block;
  width: 100%;
  margin: 0 auto $ms3;
  @include transition(3s);
  z-index: 2;

  @include breakpoint(bp3) {
    margin-bottom: $ms7;
  }
  @include breakpoint(bp4) {
    max-width: 800px;
  }

  h2 {
    margin-bottom: 0;
    @include type-medium;
    color: $brand1;
    line-height: $ms0;
    text-shadow: -1px 2px 0px rgba(21, 77, 145, 0.5);
    
    @include breakpoint(bp1) {
      @include type-xlarge;
    }
    @include breakpoint(bp2) {
      @include type-mega;
    }
  }
}

.heroVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  object-fit: cover;
  @include transition(3s);
}