/* 
 * 
 * $Intro
 *
**/

.intro {
    display: block;
    width: 100%;
}


.intro__title {
    position: relative;
    display: block;
    margin-bottom: $ms-4;
    width: 100%;
    @include type-giga;
    color:$brand1;
    text-align: center;

    @include breakpoint(bp2){
        @include type-mega;
        line-height: $ms0;
    }

    &:after {
        position: absolute;
        display: block;
        content:'';
        bottom:-20px;
        left:50%;
        transform: translateX(-50%);
        width: 80px;
        height:1px;
        background-color: $brand4;
    }    
}


.intro__desc {
    display: block;
    width: 100%;
    margin-top: $ms5;

    p {
        margin-bottom: $ms-2;
        color:$brand1;
        @include type-medium;
        line-height: $ms0 + .125em;
        text-align: center;

        &:last-of-type { margin-bottom: 0; }

        a {
            color:$brand6;
            font-weight: $fw-bold;
        }
    }
}
.intro__desc--title {
    margin-top:0;
}


.siteintro {
    display: block;
    width: 100%;
    margin-bottom: $ms0;

    p {
        margin-bottom: $ms-2;
        @include type-medium;
        line-height: $ms0 + .125em;
        text-align: center;

        &:last-of-type { margin-bottom: 0; }

        a {
            color:$brand6;
            font-weight: $fw-bold;
        }
    }    
}