/* 
 * 
 * $LinkList
 *
**/

.linkListCompact {
    .linkList {
        columns: 1;
    }
}

.linkList {
    display: block;
    width: 100%;
    padding:0;
    margin:0;
    list-style: none;

    @include breakpoint(bp2){
        column-count: 3;
        column-gap: $ms2;
    }
    @include breakpoint(bp5){
        column-count: 4;
        column-gap: $ms0;
    }
}


.linkList__item {
    display: inline-block;
    width:100%;
    margin-bottom: 0;
    border-bottom:1px solid $brand3;

    a {
        display: inline-block;
        padding:$ms-7 0;
        margin-bottom: 0;
        @include type-small;
        color:$brand3;

        &:hover,
        &.active {
            color:$brand4;
            text-decoration: none;
        }

        @include breakpoint(bp5){
            @include type-medium;            
        }
    }
}