/* 
 * 
 * $LinkBlocks
 *
**/

.linkBlocks {
    clear: both;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding:0;
    margin: $ms6 0 $ms2;
    list-style: none;

    @media all and (min-width: 400px){
        margin-bottom: $ms2;
    }
    @include breakpoint(bp2){
        margin-top: $ms7;
    }
}


.linkBlock {
    position: relative;
    display: block;
    width:100%;
    max-width: 280px;
    min-height: 150px;
    align-items: stretch;
    background-color: $brand6;
    padding:$ms7 + .4em $ms0 $ms0;
    margin:0 auto $ms6;
    @include border-radius($curve);

    &:last-child {
        margin-bottom: 0;
    }    
    
    @media all and (min-width: 400px){
        width: 49%;
        min-height: 165px;
        
        &:nth-of-type(5) { margin-bottom: 0; }          
    }
    @include breakpoint(bp2){
        width: 32%;

        &:nth-of-type(4) { margin-bottom: 0; }    
    }
    @include breakpoint(bp3){
        max-width: 340px;   
        min-height: 185px;
        padding-top: $ms6 + .3em;
        margin-bottom: $ms5;
    }
    @include breakpoint(bp5){
        width:16.6%;
        min-height: 165px;
        padding:$ms6 + .75em $ms0 $ms0;
        margin-bottom: 0;
        @include border-radius(0);

        &:first-child {
            @include border-radius($curve 0 0 $curve);
        }
        &:last-child {
            @include border-radius(0 $curve $curve 0);
        }
        &:nth-of-type(3),
        &:nth-of-type(4) {
            .linkBlock--icon { width: 46px; }
        }        
        &:nth-of-type(5),
        &:nth-of-type(6) {
            .linkBlock--icon { width: 54px; }
        } 
        
        &:hover {
            background-color: $brand4;
            cursor: pointer;

            .linkBlock__cog {
                animation: spin 8s infinite linear forwards;
            }
        }
    }
}


.linkBlock__img {
    position: absolute;
    top:-45px;
    left:50%;
    transform: translateX(-50%);
    display: block;
    width: 120px;
    height:120px;
}


.linkBlock__cog {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    display: block;
    width: 100%;
    height: auto;
    transform-origin: 50% 50%;
}


.linkBlock__icon {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    display: block;
    width: 40px;
    height: auto;
}


.linkBlock__title {
    position: relative;
    display: block;
    margin-bottom: 0;
    @include type-medium;
    text-align: center;
    line-height: $ms0 +.1em;
    z-index: 1;

    a {
        color:$brand1;

        &:active,
        &:hover,
        &:visited {
            color:$brand1;
            text-decoration: none;
        }
    }
}