/* 
 * 
 * $Partners
 *
**/

.partners {
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    align-items: center;
    padding-top: $ms2;
    border-top: 1px solid #6c6c6c;
}


.partner {
    display: block;
    flex:1 1 auto;
    width: 100%;
    max-width: 160px;
    height:auto;
    margin: 0 auto $ms2;  
    
    @include breakpoint(bp4){
        margin-bottom: $ms-2;
    }
    @include breakpoint(bp5){
        max-width: 220px;
        margin-bottom: $ms-2;
    }
    @include breakpoint(bp6){
        max-width: 250px;    
    }
    @include breakpoint(bp7){
        max-width: 280px;    
    }
}