/* 
 * 
 * $StaffMembers
 *
**/

.staffMembers {
    display: block;
    width: 100%;
    padding:0;
    margin:0; 
    list-style: none;
}


.staffMember {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    padding-bottom:$ms1;
    margin:0 auto $ms1;
    border-bottom: 1px solid $brand4;
}


.staffMember__content {
    display: block;
    width:100%;
    
    @include breakpoint(bp1) {
        width:75%;
    }
}


.staffMember__title {
    position: relative;
    display: block;
    width:100%;
    @include type-large;
    color:$brand3;
    font-weight: $fw-bold;
    line-height: $ms0 +.1em;
    z-index: 1;

    span {
        font-weight: $fw-regular;
    }
}


.staffMember__img {
    display: block;
    width:40%;
    margin:0 5% $ms-2 0;
    
    @include breakpoint(bp1) {
        width:20%;
        margin-bottom: 0;
    }    
    
    .gatsby-image-wrapper {
        background-color: #ccc;
        @include border-radius($curve);
        overflow: hidden;
    }
}


.staffMember__bio {
    
    p:last-of-type {
        margin-bottom: 0;
    }
}
