/* 
 * 
 * $Articles
 *
**/

.articlesFilter {
    position: relative;
    display: flex;
    width: 100%;
    margin-bottom: $ms2;

    .articlesFilter__inner {
        position: relative;
        display: inline-block;
        padding:$ms-7 $ms0 $ms-6 0;
        background-color: $brand1;
        z-index: 1;
    }

    h3 {
        display: inline-block;
        margin: 0 $ms-2 0 0;
        @include type-xlarge;
        color:$brand6;
        text-align: left;
        line-height: $ms0;
    }

    &:before {
        position: absolute;
        display: block;
        content:'';
        top:53%;
        left:50%;
        transform: translate(-50%,-50%);
        width: 100%;
        height:2px;
        background-color: $brand4;
        z-index: 0;
    }  
}

.articlesFilter__select {
    width:220px;
    height:50px;
    padding:$ms-2;
    color:$brand1;
    background-color: $brand6;
    border:0;
    @include border-radius($curve);
}


.articleItems {
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    align-items: center;
    padding-top: $ms2;
    border-top: 1px solid #6c6c6c;
}


.articleItem {
    display: block;
    flex:1 1 auto;
    width: 100%;
    max-width: 200px;
    height:auto;
    margin: 0 auto $ms2;  
    
    @include breakpoint(bp5){
        margin-bottom: $ms-2;
    }
}